@charset "UTF-8";
/* CSS Document */
/*** THEME ***/
body {
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 60px;
	color: teal;
	text-transform: uppercase;
	margin: 10px;
}
h2 {
	font-size: 30px;
	color: teal;
} 
h3 {
	font-size: 25px;
	color: teal;
}
nav {
	background-color: #292542;
	padding: 5px;
	list-style-type: none;
	margin-bottom: 40px;
}
nav li {
	display: inline;
	font-size: 20px;
}
nav li a {
	padding: 10px;
	color: #ffffff;
	positon: center;
}
footer {
	font-size: 15px;
	color: white;
	background-color: #292542;
	padding: 35px;
	bottom: 0;
	clear: both;
	list-style-type: none;
}
footer li {
	display: inline;
	padding: 5px;
}
footer li a {
	color: #ffffff;
}

/*** HOME ****/
section {
	width: 700px;
	margin-left: 100px;
	float: left;
	margin-bottom: 50px;
}
section figure img {
	max-width: 650px;
}
section p {
	text-align: justify;
}
aside {
	float: right;
	border-width: 3px;
	border-style: solid;
	color: black;
	width: 275px;
	margin-right: 50px;
	padding: 5px;
}
aside figure img {
	max-width: 240px;
	position: center;
	margin-left: -22px;
}
figcaption {
	padding: 15px;
}


/**CONTACT FORM**/
form {
	width: 700px;
	margin-left: 0;
	margin-right: 0;
	display: inline-block;
	margin-bottom: 50px;
}
.row-margin {
	border-width: 3px;
	border-style: solid;
	color: black;
  	padding: 20px;
	text-align: left;
	width: 660px;
	margin-left: 0;
	margin-right: 0;
}
.col-40 {
  	float: left;
  	width: 240px;
  	margin: 5px;
}
.col-60 {
  	float: left;
  	width: 360px;
 	margin: 5px;
}
.row-margin:after {
  content: "";
  display: table;
  clear: both;
}
input[type=text] {
  	width: 375px;
	height: 20px;
  	padding: 5px;
  	border: 1px solid #292542;
  	resize: vertical;
}
textarea {
	width: 375px;
	padding: 5px;
  	border: 1px solid #292542;
  	resize: vertical;
	height: 100px;
}
#sessiontype, #sessiondate, #phone {
	width: 275px;
	height: 27px;
	border: 1px solid #292542;
}

